@import url("https://fonts.googleapis.com/css?family=Rakkas|Kumar+One|Akronim|Sail|Kotta+One|Yeseva+One|Questrial|Vollkorn|Titillium+Web|Roboto+Condensed|Slabo+27px");

body {
  margin: 0;
  padding: 0;
  -webkit-font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}

.font-bold {
  font-weight: 900;
}

.with-errors {
  color: red !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  -webkit-font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-left: 8px;
}

.help-block {
  color: red !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  -webkit-font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}

p {
  -webkit-font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-family: "Titillium Web", cursive;
  font-family: "Titillium Web", cursive;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none !important;
}

/*Navigation*/

.navigateion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100 !important;
  padding: 10px 70px !important;
  transition: 400ms;
}

.navigateion .nav-bank {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 90px !important;
}

.navigateion .nav-bank li {
  list-style: none;
  display: inline;
  text-align: left;
  padding: 0px 10px !important;
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
}

.navigateion .nav-bank li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 20px;
  padding: 0px !important;
}


.navigateion .nav-bank li .router-link-active,
.navigateion .nav-bank li .router-link-exact-active {
  color: #28a745;
}

.navigateion .nav-bank li a:hover {
  color: #28a745 !important;
  text-decoration: none;
}

.social-icc {
  display: none;
}

.logo {
  position: relative;
  width: 100px;
}

.logo h1 {
  font-size: 50px;
  font-weight: 1000;
  color: #28a745;
  font-family: "Rakkas", serif;
  -webkit-font-family: "Rakkas", serif;
}

.for-white {
  color: #fff !important;
  animation-duration: 4s;
  animation-delay: 1200ms;
}

.forgreen {
  color: #28a745 !important;
}

.logo-line {
  position: absolute;
  top: 40%;
  left: 25%;
  background: #fff;
  width: 40px;
  height: 5px;
  font-family: "Abril Fatface", serif;
  -webkit-font-family: "Abril Fatface", serif;
  border-radius: 20% 20%;
}

.logo.logo-small {
  display: none;
}

.heading {
  font-family: "Rakkas", serif;
  -webkit-font-family: "Rakkas", serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  font-size: 40px;
}

.logo-two {
  color: #fff;
  font-family: "Rakkas", serif;
  -webkit-font-family: "Rakkas", serif;
}

.buttn {
  background: #28a745;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: bold;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.buttn:hover {
  background: green;
  color: #fff;
  text-decoration: none;
}

/*
Hamburgar Navigation Menu
*/
.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  height: 8px;
  background-color: #fff;
  margin: 9px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/*header/ showcase*/

.showcase {
  position: relative;
  padding-top: 70px;
  height: 340px;
  -webkit-background-image: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)),
    url(../img/why.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../img/why.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.showcase.forservice {
  -webkit-background-image: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)),
    url(../img/Employees.gif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../img/Employees.gif);
}

.showcase.forabout {
  -webkit-background-image: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)),
    url(../img/mission.gif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../img/mission.gif);
}

.showcase.forpat {
  -webkit-background-image: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)),
    url(../img/team.gif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../img/team.gif);
}

#header {
  position: relative;
  padding-top: 70px;
  height: 540px;
  -webkit-background-image: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)),
    url(../img/why.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../img/why.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

#header .header-content {
  margin: 0px;
  padding: 60px 80px 80px;
  text-align: left;
}

.showcase .header-content {
  margin: 0px;
  padding: 60px 80px 80px;
  text-align: left;
}

#header h1,
.showcase h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  -webkit-font-family: "Rakkas", serif;
  font-family: "Rakkas", serif;
}

#header h4,
.showcase h4 {
  font-size: 40px;
  color: #fff;
  margin-top: -3px !important;
  -webkit-font-family: "Abril Fatface", serif;
  font-family: "Abril Fatface", serif;
}

#header p {
  font-size: 38px;
  color: #28a745;
  margin-bottom: 0px !important;
  -webkit-font-family: "Abril Fatface", serif;
  font-family: "Abril Fatface", serif;
}

.txt-type {
  color: #28a745 !important;
}

.txt-type>.txt {
  border-right: 0.2rem solid darkgreen;
}

.animate-text {
   display: inline;
   text-indent: 8px;
}

.animate-text span{
   animation: anim 13s linear infinite;
   color: #28a745!important;
   opacity: 0;
   overflow: hidden;
   position: absolute;
}

.animate-text span:nth-child(2) {
  animation-delay: 2.5s;
}
.animate-text span:nth-child(3) {
  animation-delay: 5s;
}
.animate-text span:nth-child(4) {
  animation-delay: 7.5s;
}
.animate-text span:nth-child(5) {
  animation-delay: 10s;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

#header .btn {
  font-size: 16px;
  -webkit-font-family: "Kumar One", cursive;
  font-family: "Kumar One", cursive;
  border-radius: 40px !important;
  color: #fff !important;
}

#header .btn:hover {
  background: #28a745 !important;
  border: none !important;
}

/*Middle icons*/

.middle-icons {
  padding: 40px 30px;
  width: 80%;
  margin: -110px auto 30px;
  background-color: #f2f2f2;
  -webkit-background-image: linear-gradient(315deg, #fff 40%, #f5f5f5 74%);
  background-image: linear-gradient(315deg, #fff 40%, #f5f5f5 74%);
}

.boxes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}

.boxes .fas,
.boxes .far {
  font-size: 40px !important;
}

.boxes h4 {
  margin-top: 30px;
  -webkit-font-family: "Rakkas", serif;
  font-family: "Rakkas", serif;
  font-weight: 300 !important;
}

/*thebest*/

.thebest {
  background-color: #f2f2f2;
  -webkit-background-image: linear-gradient(315deg, #f5f5f5 40%, #fff 24%);
  background-image: linear-gradient(315deg, #f5f5f5 40%, #fff 24%);
  padding: 70px 50px;
}

.thebest h6 {
  font-size: 17px;
  -webkit-font-family: "Alice", serif;
  font-family: "Alice", serif;
  color: #2bbbad;
}

.thebest h3 {
  font-size: 30px;
  margin: 15px 0px;
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
}

.thebest p {
  font-size: 19px;
  font-weight: 300;
}

.text-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.icon-stats {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0px 60px;
}

.icon-icon {
  padding: 30px 40px;
  background: #fff;
}

.icon-icon .fas,
.icon-icon .far {
  font-size: 38px !important;
  color: #2bbbad;
}

.icon-icon h5 {
  margin: 11px 0px 8px;
  font-size: 28px;
  font-weight: 900;
  -webkit-font-family: "Abril Fatface", serif;
  font-family: "Abril Fatface", serif;
}

.icon-icon.card.aqua-gradient .far,
.icon-icon.card.aqua-gradient h5,
.icon-icon.card.aqua-gradient p {
  color: #fff !important;
}

/*About us*/

.about-us {
  position: relative;
  padding: 50px 30px;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 20% 0%;
}

.about-us h2 {
  margin-bottom: 30px;
}

.about-us p {
  font-size: 20px;
}

.about-us .beaa {
  margin-top: 19px !important;
  padding: 8px 30px;
  font-size: 16px !important;
}

/*.about-us img {
  height: 300px;
  width: 100%;
}*/

/*services*/

.services {
  background-color: #f2f2f2;
  -webkit-background-image: linear-gradient(315deg, #fff 40%, #f9f9f9 24%);
  background-image: linear-gradient(315deg, #fff 40%, #f9f9f9 24%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
}

.services h2 {
  margin-bottom: 30px;
}

.services h5 {
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
}

/*integration*/

.integration {
  padding: 5% 3% 4%;
  border-top-left-radius: 20% 0%;
  border-top-right-radius: 50% 20%;
  background-color: #f2f2f2;
  -webkit-background-image: linear-gradient(315deg, #f5f5f5 40%, #fff 24%);
  background-image: linear-gradient(315deg, #f5f5f5 40%, #fff 24%);
}

.integrate-one {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0px 20px;
  position: relative;
}

.integrate-one .fas {
  font-size: 30px;
  margin-bottom: 15px;
}

.integrate-one h6 {
  font-size: 21px;
  margin-bottom: 15px;
}

.integrate-one h4 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 15px;
  -webkit-font-family: "Abril Fatface", serif;
  font-family: "Abril Fatface", serif;
}

.integrate-one p {
  font-size: 19px;
}

.integrate-one img {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  -webkit-filter: grayscale(20%) contrast(100%);
  filter: grayscale(20%) contrast(50%) brightness(60%);
}

.integrate-box {
  padding: 30px 20px;
  margin: 0px 8px 30px;
  text-align: center;
  border-radius: 4px;
}

.col-md-6.box-1 {
  margin-top: 19%;
}

.integrate-box .fas,
.integrate-box .far {
  font-size: 33px;
  margin-bottom: 50px;
  color: #777;
}

.integrate-box h4 {
  font-size: 22px;
  margin-bottom: 14px;
  font-weight: bold;
  color: #fff;
  -webkit-font-family: "Abril Fatface", serif;
  font-family: "Abril Fatface", serif;
}

.integrate-box p {
  font-size: 17px;
  color: #777;
}

.integrate-box a {
  font-size: 15px;
  background: #fff;
  color: #333;
  padding: 8px 14px;
  margin-top: 19px;
  border-radius: 40px;
  box-shadow: 0 3px 5px #ccc;
  text-transform: uppercase;
  -webkit-font-family: "Alice", sans-serif;
  font-family: "Alice", sans-serif;
}

.integrate-box .fas {
  display: none;
}

.integrate-box a:hover {
  background: #f1f1f1;
}

/*mission*/

.mission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0px;
  grid-auto-rows: 370px;
}

.mission-box.mm {
  padding: 12px 30px;
}

.mission-box h4 {
  font-size: 38px;
  color: #fff;
  margin-bottom: 17px;
  margin-top: 40px;
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
}

.mission-box p {
  font-size: 20px;
  color: #fff;
}

.mission img {
  width: 100%;
  height: 100%;
}

/*Partners*/

#recruiters {
  padding-top: 50px;
  padding-bottom: 100px;
}

.recruiters {
  background-color: #f5f5f5;
  -webkit-background-image: linear-gradient(315deg, #fff 40%, #f5f5f5 24%);
  background-image: linear-gradient(315deg, #fff 40%, #f5f5f5 24%);
}

#recruiters h3 {
  text-align: center;
  padding-bottom: 15px;
}

#recruiters p {
  text-align: center;
  padding: 0px 50px 40px;
  font-size: 20px;
}

#recruiters img {
  max-width: 80px;
  margin: 10px 20px;
}

.recruiters-card {
  width: 80%;
  margin: 60px auto 30px;
  padding: 40px 10px 0px;
  position: relative;
}

#recruiters h4 {
  padding-bottom: 19px;
  font-size: 36px;
  padding-top: 12px;
  -webkit-font-family: "Kotta One", sans-serif;
  font-family: "Kotta One", sans-serif;
  font-weight: bold;
}

.recruiters-card h5 {
  margin-bottom: 19px;
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
  font-size: 28px;
}

.recruiters-card .fas {
  margin-left: 12px;
  font-size: 13px;
}

.recruiters-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 80px auto 0px;
}

.recruiters-start h6 {
  font-size: 24px;
  -webkit-font-family: "Kumar One", sans-serif;
  font-family: "Kumar One", sans-serif;
  font-weight: bold;
}

.beaa {
  background: #28a745;
  padding: 8px 44px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-font-family: "Kotta One", sans-serif;
  font-family: "Kotta One", sans-serif;
}

.beaa:hover {
  background: transparent;
  color: #28a745;
  border: 2px solid #28a745;
}

/*contact*/

.contact {
  padding: 7% 6% 4%;
  background-color: #f2f2f2;
  -webkit-background-image: linear-gradient(315deg, #f5f5f5 40%, #fff 24%);
  background-image: linear-gradient(315deg, #f5f5f5 40%, #fff 24%);
}

.contact h3 {
  margin-bottom: 30px;
  font-size: 30px;
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
}

.contact p {
  font-size: 19px;
}

.contact-details {
  margin-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 8px;
}

.contact-info .fas,
.contact-info .far {
  margin-right: 25px;
  margin-top: 10px;
}

.contact-info h5 {
  font-weight: bold;
  -webkit-font-family: "Alice", serif;
  font-family: "Alice", serif;
}

.contact-info p {
  font-size: 16px;
}

.contact input,
.contact textarea {
  font-size: 20px;
}

.contact .btn-success {
  font-size: 20px !important;
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
}

/*footer*/

footer {
  background: #f5f5f5;
  color: #333 !important;
}

.footer-copyright {
  background: #f3f3f3 !important;
  color: #333 !important;
  border-top: 2px solid #f9f9f9;
}

footer a {
  -webkit-font-family: "Rakkas", sans-serif;
  font-family: "Rakkas", sans-serif;
  color: #333 !important;
}

footer p {
  color: #333 !important;
}

footer a:hover {
  color: green !important;
}

/* **MEDIA QUERY*** */

@media screen and (max-width: 1045px) {

  /*Navigation*/
  .navigateion {
    min-height: 40px;
    line-height: 40px;
    padding: 10px 40px !important;
  }

  .navigateion .nav-bank li {
    padding: 0px 7px;
  }

  .navigateion .nav-bank li a {
    font-size: 16px;
  }

  .logo h1 {
    font-size: 40px;
  }

  .boxes .fas,
  .boxes .far {
    font-size: 30px !important;
  }

  .thebest p {
    font-size: 18px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .icon-icon {
    padding: 30px 14px;
  }

  .about-us p {
    font-size: 18px;
  }

  /*integration*/

  .integrate-one .fas {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .integrate-one h6 {
    font-size: 19px;
    margin-bottom: 15px;
  }

  .integrate-one h4 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .integrate-one p {
    font-size: 17px;
  }

  .integrate-box {
    padding: 30px 20px;
    margin: 0px 8px 30px;
  }

  .col-md-6.box-1 {
    margin-top: 19%;
  }

  .integrate-box .fas,
  .integrate-box .far {
    font-size: 33px;
    margin-bottom: 50px;
  }

  .integrate-box h4 {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .integrate-box p {
    font-size: 17px;
  }

  .integrate-box a {
    font-size: 15px;
    padding: 8px 14px;
    margin-top: 19px;
  }

  /*mission*/

  .mission {
    grid-auto-rows: 370px;
  }

  .mission-box.mm {
    padding: 12px 30px;
  }

  .mission-box h4 {
    font-size: 38px;
    margin-bottom: 17px;
    margin-top: 40px;
  }

  .mission-box p {
    font-size: 17px;
  }

  /*Partners*/

  #recruiters {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #recruiters h3 {
    padding-bottom: 15px;
  }

  #recruiters p {
    padding: 0px 50px 40px;
    font-size: 18px;
  }

  #recruiters img {
    max-width: 80px;
    margin: 10px 20px;
  }

  .recruiters-card {
    width: 80%;
    margin: 60px auto 30px;
    padding: 40px 10px 0px;
  }

  #recruiters h4 {
    padding-bottom: 19px;
    font-size: 36px;
    padding-top: 12px;
  }

  .recruiters-card h5 {
    margin-bottom: 19px;
    font-size: 28px;
  }

  .recruiters-card p {
    font-size: 16px !important;
  }

  .recruiters-card .fas {
    margin-left: 12px;
    font-size: 13px;
  }

  .recruiters-start {
    width: 90%;
    margin: 80px auto 0px;
  }

  .recruiters-start h6 {
    font-size: 24px;
  }

  .beaa {
    padding: 8px 44px;
  }

  /*contact*/

  .contact h3 {
    margin-bottom: 30px;
  }

  .contact-details {
    margin-top: 20px;
  }

  .contact-info {
    margin-top: 8px;
  }

  .contact-info .fas,
  .contact-info .far {
    margin-right: 25px;
    margin-top: 10px;
  }

  .contact-info h5 {
    font-weight: bold;
  }

  .contact p {
    font-size: 18px;
  }

  .contact-info p {
    font-size: 15px;
  }

  .contact input,
  .contact textarea {
    font-size: 17px;
  }

  .contact .btn-success {
    font-size: 15px !important;
  }
}

/* **MEDIA QUERY*** */

@media screen and (max-width: 940px) {
  .navigateion .nav-bank li a {
    font-size: 14px !important;
  }

  .logo {
    position: relative;
    width: 100px;
  }

  .logo h1 {
    font-size: 35px;
  }

  .logo-line {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 30px;
    height: 5px;
  }

  .heading {
    font-size: 28px;
  }

  .buttn {
    padding: 8px 20px;
    font-size: 13px;
  }

  #header {
    padding-top: 50px;
    height: 440px;
  }

  .showcase {
    padding-top: 50px;
    height: 300px;
  }

  #header .header-content {
    margin: 0px;
    padding: 60px 60px 80px;
  }

  .showcase .header-content {
    margin: 0px;
    padding: 60px 80px 80px;
  }

  #header h1,
  .showcase h1 {
    font-size: 39px;
  }

  #header h4,
  .showcase h4 {
    font-size: 36px;
  }

  #header p {
    font-size: 32px;
  }

  #header .btn {
    font-size: 14px;
    padding: 8px 20px !important;
  }

  /*Middle icons*/

  .middle-icons {
    padding: 30px 20px;
    width: 80%;
    margin: -90px auto 30px;
  }

  .boxes {
    grid-gap: 20px;
  }

  .boxes .fas,
  .boxes .far {
    font-size: 30px !important;
  }

  .boxes h4 {
    margin-top: 20px;
    font-size: 20px;
  }

  /*thebest*/

  .thebest {
    padding: 30px 20px;
  }

  .thebest h6 {
    font-size: 16px;
  }

  .thebest h3 {
    font-size: 25px;
    margin: 15px 0px;
  }

  .thebest p {
    font-size: 17px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin: 0px 60px;
  }

  .icon-icon {
    padding: 20px;
  }

  .icon-icon .fas,
  .icon-icon .far {
    font-size: 28px !important;
  }

  .icon-icon h5 {
    margin: 11px 0px 8px;
    font-size: 25px;
  }

  .icon-icon.card.aqua-gradient p {
    font-size: 14px;
  }

  .about-us p {
    font-size: 16px;
  }

  /*services*/

  .services p {
    font-size: 16px;
  }

  .services .fas,
  .services .far {
    font-size: 19px !important;
    margin-right: 8px !important;
  }

  .services .serh {
    font-size: 18px;
  }

  .services .serp {
    font-size: 14px;
  }

  /*integration*/

  .integration {
    padding: 2% 3% 4%;
  }

  .integrate-one .fas {
    font-size: 28px;
  }

  .integrate-one h6 {
    font-size: 19px;
  }

  .integrate-one h4 {
    font-size: 26px;
  }

  .integrate-one p {
    font-size: 16px;
  }

  .integrate-box {
    padding: 30px 20px;
    margin: 0px 8px 30px;
  }

  .col-md-6.box-1 {
    margin-top: 19%;
  }

  .integrate-box h4 {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .integrate-box p {
    font-size: 15px;
  }

  .integrate-box a {
    font-size: 13px !important;
    padding: 6px 13px;
    margin-top: 19px;
  }

  /*mission*/

  .mission {
    grid-auto-rows: 340px;
  }

  .mission-box.mm {
    padding: 12px 30px;
  }

  .mission-box h4 {
    font-size: 28px;
    margin-bottom: 17px;
    margin-top: 40px;
  }

  .mission-box p {
    font-size: 16px;
  }

  /*recruiters*/

  .recruiters-card {
    width: 95%;
    margin: 60px auto 30px;
    padding: 40px 5px 0px;
  }

  #recruiters h4 {
    padding-bottom: 19px;
    font-size: 30px;
    padding-top: 12px;
  }

  .recruiters-card h5 {
    margin-bottom: 19px;
    font-size: 23px;
  }

  .recruiters-card p {
    font-size: 15px !important;
  }

  .recruiters-card .fas {
    margin-left: 12px;
    font-size: 13px;
  }

  .recruiters-start {
    width: 95%;
    margin: 80px auto 0px;
  }

  .recruiters-start h6 {
    font-size: 21px;
  }

  .beaa {
    padding: 8px 44px;
  }

  /*contact*/

  .contact h3 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .contact-info .fas,
  .contact-info .far {
    margin-right: 25px;
    margin-top: 10px;
    font-size: 18px;
  }

  .contact-info h5 {
    font-weight: bold;
    font-size: 18px;
  }

  .contact p {
    font-size: 17px;
  }

  .contact-info p {
    font-size: 14px;
  }

  .contact input,
  .contact textarea {
    font-size: 15px;
  }

  .contact .btn-success {
    font-size: 13px !important;
    padding: 6px 12px !important;
  }

  footer.page-footer a {
    font-size: 15px !important;
  }
}

/* **MEDIA QUERY*** */

@media screen and (max-width: 860px) {
  .navigateion {
    padding: 10px 20px !important;
  }

  .navigateion .nav-bank li a {
    font-size: 14px !important;
  }

  .logo {
    width: 70px;
  }
}

@media screen and (max-width: 780px) {
  .navigateion {
    padding: 10px 18px !important;
  }

  .navigateion .nav-bank li a {
    font-size: 12px !important;
  }

  .logo h1 {
    font-size: 30px;
  }

  .logo-line {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 25px;
    height: 4px;
  }

  .get-quote .fab {
    display: none !important;
  }

  .buttn {
    padding: 8px 14px;
    font-size: 13px;
  }

  /*Middle icons*/

  .middle-icons {
    padding: 30px 20px;
    width: 80%;
    margin: -90px auto 30px;
  }

  .boxes {
    grid-gap: 10px;
  }

  .boxes .fas,
  .boxes .far {
    font-size: 22px !important;
  }

  .boxes h4 {
    margin-top: 17px;
    font-size: 18px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin: 0px 20px;
  }

  .icon-icon {
    padding: 20px;
  }

  .icon-icon .fas,
  .icon-icon .far {
    font-size: 24px !important;
  }

  .icon-icon h5 {
    margin: 11px 0px 8px;
    font-size: 25px;
  }

  .icon-icon.card.aqua-gradient p {
    font-size: 14px;
  }

  .about-us p {
    font-size: 14px;
  }

  .about-us .btn-outline-default {
    font-size: 12px !important;
    padding: 7px 17px !important;
  }

  /*services*/

  .services {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*integration*/

  .integration {
    padding: 2% 3% 4%;
  }

  .integrate-one .fas {
    font-size: 24px;
  }

  .integrate-one h6 {
    font-size: 16px;
  }

  .integrate-one h4 {
    font-size: 24px;
  }

  .integrate-one p {
    font-size: 15px;
  }

  .integrate-box {
    padding: 30px 20px;
    margin: 0px 3px 30px;
  }

  .col-md-6.box-1 {
    margin-top: 19%;
  }

  .integrate-box h4 {
    font-size: 18px;
  }

  .integrate-box p {
    font-size: 13px;
  }

  .integrate-box a {
    font-size: 12px !important;
    padding: 6px 10px;
    margin-top: 19px;
  }
}

@media screen and (max-width: 767px) {

  .navigateion {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px !important;
    margin: 0px !important;
    height: 70px !important;
  }

  .nav-bank {
    position: absolute;
    top: -100%;
    left: 0px;
    height: 60px !important;
    width: 100%;
    transition: 600ms;
    z-index: 600 !important;
    padding: 0px 40px 0px 0px;
    margin: 0px !important;
    background-color: #010101;
    opacity: 0;
  }

  .navigateion .nav-bank {
    margin-left: 0px !important;
    margin: 0px !important;
  }

  .nav-bank li {
    display: inline !important;
    text-transform: uppercase;
    margin: 0px 14px !important;
    padding: 0px !important;
  }


  .navigateion .nav-bank li a {
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px !important;
    display: inline-block;
    text-align: left;
    padding: 0px !important;
    margin-top: 10px !important;
    border: none !important;
  }

  .navigateion .nav-bank li .router-link-active,
  .navigateion .nav-bank li .router-link-exact-active {
    color: #28a745;
  }

  .nav-bank li a:hover {
    color: #333 !important;
  }


  /*hamburger menu*/
  nav .burger {
    display: block;
    position: absolute;
    top: 14px;
    right: 12px;
    z-index: 800 !important;
  }

  nav .burger div {
    margin: 5px;
    width: 30px;
    height: 3px;
  }

  .navgroup {
    top: 0;
    opacity: 1;
    margin: 0px !important;
    padding-top: 0px !important;
  }

  .toggleline1 {
    transform: rotate(-45deg) translate(-4px, 8px);
  }

  .toggleline2 {
    opacity: 0;
  }

  .toggleline3 {
    transform: rotate(45deg) translate(-4px, -8px);
  }

  .logo {
    display: block;
    position: absolute;
    top: 11px;
    left: 12px;
  }

  /*Middle icons*/

  .middle-icons {
    padding: 30px 10px;
    width: 80%;
    margin: -90px auto 0px;
  }

  .boxes {
    grid-gap: 10px;
  }

  .boxes .fas,
  .boxes .far {
    font-size: 25px !important;
  }

  .boxes h4 {
    margin-top: 17px;
    font-size: 20px;
  }

  /*thebest*/

  .thebest {
    padding-top: 10px !important;
  }

  .thebest h6 {
    font-size: 18px;
  }

  .thebest h3 {
    font-size: 28px;
    margin: 15px 0px;
  }

  .thebest p {
    font-size: 18px;
  }

  .text-stats {
    margin-bottom: 90px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin: 0px 20px;
  }

  .icon-icon {
    padding: 20px;
  }

  .icon-icon .fas,
  .icon-icon .far {
    font-size: 24px !important;
  }

  .icon-icon h5 {
    margin: 11px 0px 8px;
    font-size: 25px;
  }

  .icon-icon.card.aqua-gradient p {
    font-size: 14px;
  }

  /*about-us*/

  .about-us .col-md-6 {
    position: relative;
    width: 50% !important;
    padding-right: 8px;
    padding-left: 8px;
  }

  .about-us h2 {
    margin-bottom: 15px;
  }

  .about-us p {
    font-size: 14px;
  }

  .about-us .beaa {
    font-size: 12px !important;
    padding: 7px 17px !important;
  }

  /*services*/

  .services {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10 !important;
  }

  section.pb-5.services {
    padding-bottom: 10 !important;
  }

  .services p {
    font-size: 18px;
  }

  .services .fas,
  .services .far {
    font-size: 23px !important;
    margin-right: 0px !important;
  }

  .services .serh {
    font-size: 23px;
  }

  .services .serp {
    font-size: 16px;
  }

  .services img {
    display: none !important;
  }

  /*integration*/

  .integration {
    padding: 2% 3% 4%;
  }

  .integrate-one {
    margin-bottom: 80px !important;
  }

  .integrate-one .fas {
    font-size: 28px;
  }

  .integrate-one h6 {
    font-size: 19px;
  }

  .integrate-one h4 {
    font-size: 28px;
  }

  .integrate-one p {
    font-size: 18px;
  }

  /*.integration .col-md-6.col-sm-6 {
  margin: 0px 40px 0px;
}*/

  .integrate-box {
    padding: 50px 40px;
    margin: 0px 3px 30px;
  }

  .integrate-boxes {
    margin: 0px 70px 0px 0px;
  }

  .integrate-boxes.box-1 {
    margin: 0px 3px 0px 70px;
  }

  .col-md-6.box-1 {
    margin-top: 19%;
  }

  .integrate-box h4 {
    font-size: 20px;
  }

  .integrate-box p {
    font-size: 15px;
  }

  .integrate-box a {
    font-size: 13px !important;
    padding: 6px 10px;
    margin-top: 19px;
  }

  /*mission*/

  .mission {
    grid-auto-rows: 370px;
  }

  .mission-box.mm {
    padding: 12px 30px;
  }

  .mission-box h4 {
    font-size: 28px;
    margin-bottom: 17px;
    margin-top: 20px;
  }

  .mission-box p {
    font-size: 15px;
  }

  /*Partners*/

  #recruiters {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #recruiters h3 {
    padding-bottom: 15px;
  }

  #recruiters p {
    padding: 0px 15px 40px;
    font-size: 18px;
  }

  #recruiters img {
    max-width: 50px;
    margin: 10px 20px;
  }

  .recruiters-card {
    width: 95%;
    margin: 60px auto 30px;
    padding: 40px 5px 0px;
  }

  .recruiters-card .col-md-6 {
    width: 50% !important;
  }

  #recruiters h4 {
    padding-bottom: 19px;
    font-size: 30px;
    padding-top: 12px;
  }

  .recruiters-card h5 {
    margin-bottom: 19px;
    font-size: 23px;
  }

  .recruiters-card p {
    font-size: 15px !important;
  }

  .recruiters-card .fas {
    margin-left: 12px;
    font-size: 13px;
  }

  .recruiters-start {
    width: 95%;
    margin: 80px auto 0px;
  }

  .recruiters-start h6 {
    font-size: 19px;
  }

  .beaa {
    padding: 8px 34px;
    font-size: 13px;
  }

  /*contact*/

  .contact h3 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .contact-info .fas,
  .contact-info .far {
    margin-right: 25px;
    margin-top: 10px;
    font-size: 18px;
  }

  .contact-info h5 {
    font-weight: bold;
    font-size: 18px;
  }

  .contact p {
    font-size: 17px;
  }

  .contact-info p {
    font-size: 14px;
  }

  .contact input,
  .contact textarea {
    font-size: 15px;
  }

  .contact .btn-success {
    font-size: 13px !important;
    padding: 6px 12px !important;
  }

  footer.page-footer a {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 734px) {
  .nav-bank li {
    height: 50px !important;
  }

  .navigateion .nav-bank li a {
    font-size: 15px !important;
    display: inline-block;
    text-align: left;
  }
}

@media screen and (max-width: 660px) {

  .navigateion .nav-bank li {
    margin: 0px 9px !important;
    padding: 0px 5px !important;
  }

  .navigateion .nav-bank li a {
    font-size: 14px !important;
  }

  #header {
    padding-top: 50px;
    height: 440px;
  }

  .showcase {
    padding-top: 50px;
    height: 300px;
  }

  #header .header-content {
    margin: 0px;
    padding: 60px 60px 80px;
  }

  .showcase .header-content {
    margin: 0px;
    padding: 60px 80px 80px;
  }

  #header h1,
  .showcase h1 {
    font-size: 36px;
  }

  #header h4,
  .showcase h4 {
    font-size: 30px;
  }

  #header p {
    font-size: 30px;
  }

  #header .btn {
    font-size: 12px;
    padding: 8px 20px !important;
  }

  /*Middle icons*/

  .middle-icons {
    padding: 30px 10px;
    width: 80%;
    margin: -90px auto 0px;
  }

  .boxes {
    grid-gap: 10px;
  }

  .boxes .fas,
  .boxes .far {
    font-size: 20px !important;
  }

  .boxes h4 {
    margin-top: 17px;
    font-size: 17px;
  }

  /*thebest*/

  .thebest {
    padding-top: 10px !important;
  }

  .thebest h6 {
    font-size: 18px;
  }

  .thebest h3 {
    font-size: 24px;
    margin: 15px 0px;
  }

  .thebest p {
    font-size: 16px;
  }

  .text-stats {
    margin-bottom: 90px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin: 0px;
  }

  .icon-icon {
    padding: 20px;
  }

  .icon-icon .fas,
  .icon-icon .far {
    font-size: 24px !important;
  }

  .icon-icon h5 {
    margin: 11px 0px 8px;
    font-size: 25px;
  }

  .icon-icon.card.aqua-gradient p {
    font-size: 14px;
  }

  /*about-us*/

  .about-us .col-md-6 {
    position: relative;
    width: 50% !important;
    padding-right: 8px;
    padding-left: 8px;
  }

  .about-us h2 {
    margin-bottom: 15px;
  }

  .about-us p {
    font-size: 16px;
  }

  .about-us .btn-outline-default {
    font-size: 12px !important;
    padding: 7px 17px !important;
  }

  /*services*/

  .services {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10 !important;
  }

  .services {
    padding-bottom: 10 !important;
  }

  .services p {
    font-size: 16px;
  }

  .services .fas,
  .services .far {
    font-size: 20px !important;
    margin-right: 0px !important;
  }

  .services .serh {
    font-size: 19px;
  }

  .services .serp {
    font-size: 15px;
  }

  .services img {
    display: none !important;
  }

  /*integration*/

  .integration {
    padding: 2% 3% 4%;
  }

  .integrate-one {
    margin-bottom: 80px !important;
  }

  .integrate-one .fas {
    font-size: 28px;
  }

  .integrate-one h6 {
    font-size: 18px;
  }

  .integrate-one h4 {
    font-size: 23px;
  }

  .integrate-one p {
    font-size: 16px;
  }

  /*.integration .col-md-6.col-sm-6 {
  margin: 0px 40px 0px;
}*/

  .integrate-box {
    padding: 50px 40px;
    margin: 0px 3px 30px;
  }

  .integrate-boxes {
    margin: 0px 70px 0px 0px;
  }

  .integrate-boxes.box-1 {
    margin: 0px 3px 0px 70px;
  }

  .col-md-6.box-1 {
    margin-top: 19%;
  }

  .integrate-box h4 {
    font-size: 19px;
  }

  .integrate-box p {
    font-size: 16px;
  }

  .integrate-box a {
    font-size: 12px !important;
    padding: 6px 10px;
    margin-top: 19px;
  }

  /*mission*/

  .mission {
    grid-auto-rows: 420px;
  }

  .mission-box.mm {
    padding: 12px 30px;
  }

  .mission-box h4 {
    font-size: 28px;
    margin-bottom: 17px;
    margin-top: 20px;
  }

  .mission-box p {
    font-size: 16px;
  }

  /*Partners*/

  #recruiters {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #recruiters h3 {
    padding-bottom: 15px;
  }

  #recruiters p {
    padding: 0px 15px 40px;
    font-size: 16px;
  }

  #recruiters img {
    max-width: 50px;
    margin: 10px 20px;
  }

  .recruiters-card {
    width: 80%;
    margin: 60px auto 30px;
    padding: 40px 20px 0px;
  }

  .recruiters-card .col-md-6 {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .recruiters-card .col-md-6:last-child {
    margin-bottom: 0px !important;
  }

  #recruiters h4 {
    padding-bottom: 19px;
    font-size: 30px;
    padding-top: 12px;
  }

  .recruiters-card h5 {
    margin-bottom: 19px;
    font-size: 23px;
  }

  .recruiters-card p {
    font-size: 15px !important;
  }

  .recruiters-card .fas {
    margin-left: 12px;
    font-size: 13px;
  }

  .recruiters-start {
    width: 95%;
    margin: 80px auto 0px;
    flex-direction: column;
    justify-content: center;
  }

  .recruiters-start h6 {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .beaa {
    padding: 8px 34px;
    font-size: 14px;
  }

  /*contact*/

  .contact h3 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .contact-info .fas,
  .contact-info .far {
    margin-right: 25px;
    margin-top: 10px;
    font-size: 18px;
  }

  .contact-info h5 {
    font-weight: bold;
    font-size: 18px;
  }

  .contact p {
    font-size: 17px;
  }

  .contact-info p {
    font-size: 14px;
  }

  .contact input,
  .contact textarea {
    font-size: 15px;
  }

  .contact .btn-success {
    font-size: 13px !important;
    padding: 6px 12px !important;
  }

  footer.page-footer a {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 628px) {

  /*Navigation*/
  .nav-bank {
    height: 40px;
    line-height: 40px;
  }

  .navigateion .nav-bank li {
    margin: 0px 10px !important;
    padding: 0px 0px !important;
  }

  /*about-us*/

  .about-us {
    padding-bottom: 14px;
  }

  .about-us .col-md-6 {
    position: relative;
    width: 100% !important;
    padding-right: 8px;
    padding-left: 8px;
  }

  .about-us .col-md-6.center-on-small-only {
    width: 65% !important;
    margin: 0px auto 30px !important;
  }

  .about-us h2 {
    margin-bottom: 15px;
  }

  .about-us .beaa {
    font-size: 12px !important;
    padding: 7px 17px !important;
  }

  .integrate-box {
    padding: 50px 19px;
    margin: 0px 3px 30px;
  }

  .integrate-box p {
    font-size: 13px;
  }

  .mission {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 270px;
  }

  .mission .mission-box.img-gradient {
    display: none !important;
  }
}

@media screen and (max-width: 575px) {
  .navigateion .nav-bank li {
    margin: 0px 10px !important;
    padding: 0px 0px !important;
  }

  .navigateion .nav-bank li a {
    font-size: 12px !important;
  }

  .burger div {
    height: 3px;
    margin: 4px;
    background: #fff;
  }

  .burger .line1 {
    width: 25px;
  }

  .burger .line2 {
    width: 25px;
  }

  .burger .line3 {
    width: 25px;
  }

  #header {
    padding-top: 40px;
    height: 400px;
  }

  .showcase {
    padding-top: 40px;
    height: 260px;
  }

  #header .header-content {
    margin: 0px;
    padding: 60px 20px 80px;
  }

  .showcase .header-content {
    margin: 0px;
    padding: 60px 30px 80px;
  }

  #header h1,
  .showcase h1 {
    font-size: 32px;
  }

  #header h4,
  .showcase h4 {
    font-size: 29px;
  }

  #header p {
    font-size: 30px;
  }

  #header .btn {
    font-size: 12px;
    padding: 8px 20px !important;
  }

  .boxes {
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .boxes .fas,
  .boxes .far {
    font-size: 23px !important;
  }

  .boxes h4 {
    margin-top: 17px;
    font-size: 18px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0px 60px 0px;
  }

  .icon-icon {
    padding: 20px;
  }

  .icon-icon .fas,
  .icon-icon .far {
    font-size: 24px !important;
  }

  .icon-icon h5 {
    margin: 11px 0px 8px;
    font-size: 25px;
  }

  .icon-icon.card.aqua-gradient p {
    font-size: 14px;
  }

  .integration .col-md-6.col-sm-6 {
    width: 50% !important;
  }

  .integrate-boxes {
    margin: 0px 40px 0px 0px;
  }

  .integrate-boxes.box-1 {
    margin: 0px 3px 0px 40px;
  }
}

@media screen and (max-width: 517px) {
  .icon-stats {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0px 60px 0px;
  }

  .integrate-boxes {
    margin: 0px 15px 0px 0px;
  }

  .integrate-boxes.box-1 {
    margin: 0px 3px 0px 15px;
  }
}

@media screen and (max-width: 430px) {
  /*.navigateion {
    padding: 4px 10px;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
  }*/

  .nav-bank li {
    height: 50px !important;
  }

  .navigateion .nav-bank li a {
    font-size: 13px !important;
  }

  .heading {
    font-size: 21px;
  }

  #header {
    padding-top: 40px;
    height: 400px;
  }

  .showcase {
    padding-top: 40px;
    height: 260px;
  }

  #header .header-content {
    margin: 0px;
    padding: 60px 20px 80px;
  }

  .showcase .header-content {
    margin: 0px;
    padding: 60px 30px 80px;
  }

  #header h1 {
    font-size: 22px;
    margin-bottom: 12px !important;
  }

  .showcase h1 {
    font-size: 32px;
  }

  #header h4 {
    font-size: 28px;
    margin-bottom: 17px !important;
  }

  #header p {
    font-size: 28px;
    margin-bottom: 12px !important;
  }

  #header .btn {
    font-size: 13px;
    padding: 8px 28px !important;
  }

  .middle-icons {
    margin: -70px auto 0px;
  }

  .boxes .box {
    margin-bottom: 21px;
  }

  .boxes .fas,
  .boxes .far {
    font-size: 27px !important;
  }

  .boxes h4 {
    margin-top: 17px;
    font-size: 21px;
  }

  .thebest h6 {
    font-size: 17px;
  }

  .thebest h3 {
    font-size: 20px;
    margin: 15px 0px;
  }

  .thebest p {
    font-size: 15px;
  }

  .icon-stats {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin: 0px 5px 0px;
  }

  .icon-icon .fas,
  .icon-icon .far {
    font-size: 25px !important;
  }

  .icon-icon h5 {
    margin: 15px 0px 10px;
    font-size: 35px;
  }

  .icon-icon.card.aqua-gradient p {
    font-size: 16px;
  }

  .about-us {
    padding: 50px 25px 14px;
  }

  .services {
    padding-top: 30px;
  }

  .services .container-fluid {
    padding: 5px !important;
  }

  .services h2 {
    margin-bottom: 20px;
    font-size: 21px;
  }

  .services p.px-5.lead {
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 15px;
  }

  .integrate-box .fas {
    display: block;
    margin-bottom: 0px !important;
    font-size: 15px !important;
  }

  .integration .col-md-6.col-sm-6 {
    padding: 0px 8px !important;
  }

  .integrate-box .hide-mobi {
    display: none;
  }

  .integrate-box {
    padding: 30px 17px;
    margin: 0px 3px 30px;
  }

  .integrate-boxes {
    margin: 0px 5px 0px 0px;
  }

  .integrate-boxes.box-1 {
    margin: 0px 3px 0px 5px;
  }

  .integrate-one h4 {
    font-size: 21px;
  }

  #recruiters img {
    max-width: 50px;
    margin: 10px;
  }

  .recruiters-card {
    width: 95%;
    margin: 30px auto 30px;
    padding: 40px 20px 0px;
  }

  .recruiters-card .col-md-6 {
    width: 100% !important;
    margin-bottom: 20px;
  }

  #recruiters h4 {
    padding-bottom: 19px;
    font-size: 24px;
    padding-top: 12px;
  }

  .recruiters-card h5 {
    margin-bottom: 19px;
    font-size: 23px;
  }

  .recruiters-card p {
    font-size: 15px !important;
  }

  .recruiters-card .fas {
    margin-left: 12px;
    font-size: 13px;
  }

  .recruiters-start {
    width: 95%;
    margin: 80px auto 0px;
    flex-direction: column;
    justify-content: center;
  }

  .recruiters-start h6 {
    font-size: 17px;
    margin-bottom: 16px;
  }

  .beaa {
    padding: 7px 30px;
    font-size: 14px;
  }

  .mission {
    grid-auto-rows: 300px;
  }

  .mission-box.morpheus-den-gradient {
    background: rgba(0, 0, 0, 0.9) !important;
    background-image: none !important;
  }

  .contact {
    padding: 50px 30px 80px;
  }

}

@media screen and (max-width: 388px) {
  html,body {
    overflow-x: hidden;
    width: 100%;
  }

  .navigateion {
    height: 100% !important;
  }

  .navigateion .nav-bank {
    padding-top: 80px !important;
    padding-left: 9px !important;
    height: 100% !important;
    width: 100%;
  }

  .navigateion .nav-bank li {
    display: block !important;
    margin: 30px 10px !important;
    padding: 0px !important;
  }

  .navgroup {
    height: 100% !important;
    width: 100%;
    background-color: #010101 !important;
  }

  .logo {
    z-index: 800;
  }

  .navigateion .nav-bank li a {
    font-size: 16px !important;
  }

  #header .btn {
    font-size: 13px;
    padding: 8px 18px !important;
  }

  .bodylength {
    height: 100vh;
  }
}

@media screen and (max-width: 370px) {
   .icon-stats {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}